@charset "utf-8";
/* CSS Document */
.texto
{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:18px;
	color:#333;	
}
.boton
{
	border-radius:10px;
	border-color:#000;
	padding:5px;
}
.tablero {
border-style:solid;
border-top-color:#FFF;
border-left-color:#FFF;
}

